#tiPrin{
    font-size: 50px;
    color: white;
    text-align: center;
    background-image: linear-gradient(45deg,rgb(61, 48, 48), rgb(180, 89, 89));
}
.parra{
    color:rgb(180, 89, 89);
    font-size: 40px;
    text-align: center;
}
.titSecu{
    color: cadetblue;
}

.titSecu{
    color: cadetblue;
    font-size: 30px;
    text-align: center;
}

.ima1{
    width: 600px;
    padding-left: 650px;
}

h4{
    color: white;
    font-size: 30px;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(83, 71, 0), rgb(206, 176, 5));
}

.guitar1{
    height: 400px;
    padding-left: 380px;
}

.enla1{
    text-align: center;
    padding-left: 750px;
}