*{
    font-family: "oswald";
}

h1{
    font-size: 50px;
    color: cadetblue;
    text-align: center;
}

p{
 font-size: 20px;
}

h6{
    font-size: 20px;
}

h2{
    font-size: 30px;
    color: cadetblue;
}

.yo{
    border-radius: 5%;
}

h3{
    text-decoration-line: underline;
    font-size: 20px;
}

h4{
    text-decoration-line: underline;
    font-size: 20px;
}

li{
    font-size: 20px;
}

h5{
    text-decoration-line: underline;
    font-size: 20px;
}

.textFinal{
    font-size: 30px;
    color: cadetblue;
    text-align: center;
}