body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(79, 98, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 25px;
}

img{
    height: auto;
    width: 150px;
    display: block;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    color: rgb(40, 62, 102);
}

::placeholder{
    padding: 5px;
}

.util{
    text-align: center;
}

input{
    border: 1px solid rgb(74, 116, 194);
    border-radius: 5px;
    height: 30px;
}

.sino{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.fyh{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.fecha{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hora{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    background-color: rgb(40, 62, 102);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: 0px;
}

button:hover{
    color: black;
    background-color: rgb(79, 98, 134);
}

button:active{
    color: white;
    background-color: rgb(74, 116, 194);
}
